* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

body{
  background-color: #333;
  margin: 20px;
  padding: 20px;
}

form{
  background-color: #555;
  padding: 20px;
  margin: 20px;
  gap: 10px;
}

form input{
  margin: 20px;
  padding: 20px;
  background-color: #ddd;
  height: 50px;
  width : 200px;
  border-radius: 10px;
  border: 0px;
}

form button{
  margin: 20px;
  padding: 10px;
  height: 30px;
  background-color: #ddd;
  border-radius: 10px;
  border: 0px;
}

.task{
  background-color: aqua;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  
}